$btn-hover-color: rgb(195, 243, 59);

@mixin button-green {
  font-size: 1.437rem;
  color: rgb(36, 36, 36);
  background: linear-gradient(
    92.84deg,
    rgb(29, 216, 68) 1.44%,
    rgb(203, 246, 46) 126.29%
  );
  box-shadow: 0px 0px 15px rgba(29, 216, 68, 0.9);
  transition: box-shadow 0.2s linear, color 0.2s linear;
  &:hover {
    box-shadow: 0px 0px 25px rgba(29, 216, 68, 0.9);
  }
  &:active {
    box-shadow: 0px 0px 15px rgba(29, 216, 68, 0.9),
      inset 0px 3px 2px 3px rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    color: rgba(36, 36, 36, 0.5);
    box-shadow: none;
  }
}

@mixin button-login {
  background: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 1.375rem;
  transition-property: border-color, color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  &:hover {
    color: $btn-hover-color;
    border-color: $btn-hover-color;
  }
  &:active {
    background-color: rgba(224, 255, 172, 0.05);
  }
}

@mixin opacity-hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(29, 37, 50);
}

button {
  background: none;
  border: none;
}

.header {
  min-height: 100vh;
  background-color: rgb(29, 37, 50);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/ellipse-background.svg) no-repeat;
    background-position: top -330px left -150px;
    background-size: 44.8rem;
    position: absolute;
    z-index: 0;
    opacity: 0.6;
  }
  .header__container {
    margin: 0 auto;
    max-width: 80rem;

    .header__nav {
      margin: 1.875rem 2rem 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
      .header__logo {
        .header__logo-container {
          display: flex;
          align-items: center;
          gap: 0.8375rem;
          color: rgb(255, 255, 255);
          font-size: 1.8rem;
          font-weight: 300;
          letter-spacing: 0.1rem;
          .header__logo-img {
            width: 2rem;
          }
        }
        .header__logo-btn {
          display: none;
        }
      }

      .header__menu {
        display: flex;
        align-items: center;
        gap: 9.375rem;
        transition: gap 0.2s linear;
        .header__menu-list {
          display: flex;
          gap: 6.56rem;
          transition: gap 0.2s linear;
          .header__menu-list-item {
            font-size: 1.4375rem;
            font-weight: 200;
            color: rgb(255, 255, 255);
            cursor: pointer;
            @include opacity-hover();
          }
        }
        .header__menu-button {
          @include button-login();
        }
      }
      @media screen and (max-width: 1000px) {
        .header__menu {
          gap: 4rem;
          .header__menu-list {
            gap: 3rem;
          }
        }
      }
      @media screen and (max-width: 800px) {
        flex-direction: column;
        .header__logo {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .header__logo-btn {
            display: block;
            @include opacity-hover();
          }
        }
        .header__menu {
          display: none;
        }
      }
    }

    .header__banner {
      padding: 0 2rem;
      min-height: 80vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: auto 1fr;
      justify-items: start;
      gap: 1.25rem;
      margin-top: 6.25rem;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: url(../images/ellipse-lightgreen.svg) no-repeat;
        background-position: top 120px left 420px;
        position: absolute;
        z-index: 0;
      }

      .header__banner-title {
        width: 44.7rem;
        z-index: 1;
        background-color: transparent;
        align-self: end;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 4.3rem;
        font-weight: 300;
        color: rgb(255, 255, 255);
        line-height: 1;
        transition: font-size 0.2s linear;
        .header__banner-title-bold {
          font-weight: 700;
        }
      }
      .header__banner-container {
        z-index: 1;
        grid-row: 2/3;
        grid-column: 1/2;
        .header__banner-text {
          color: rgb(206, 206, 206);
          font-size: 1.437rem;
          font-weight: 200;
        }
        .header__banner-button {
          border-radius: 20px;
          margin-top: 4.1875rem;
          padding: 1.25rem 1.875rem;
          @include button-green();
        }
      }

      .header__banner-img {
        grid-row: 1/3;
        grid-column: 1/3;
        justify-self: end;
        position: relative;
        right: -50px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      @media screen and (max-width: 1280px) {
        margin: 5rem 0;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        justify-items: center;
        .header__banner-title {
          text-align: center;
          width: auto;
        }
        .header__banner-img {
          grid-row: 2/3;
          grid-column: 1/2;
          justify-self: center;
          right: 0;
        }
        .header__banner-container {
          grid-row: 3/4;
          grid-column: 1/2;
          text-align: center;
        }
      }
      @media screen and (max-width: 800px) {
        &::before {
          background: none;
        }
        margin: 3rem 0;
        padding: 0 1.25rem;
        gap: 1rem;
        .header__banner-title {
          font-size: 2.5rem;
          font-weight: 200;
          padding: 0 1.25rem;
        }
        .header__banner-container {
          .header__banner-text {
            font-size: 1.25rem;
            text-align: center;
            padding: 0 1.25rem;
          }
          .header__banner-button {
            border-radius: 15px;
            margin-top: 1.5rem;
            padding: 1rem 1.875rem;
            font-size: 1rem;
          }
        }
      }
      @media screen and (max-width: 500px) {
        .header__banner-title {
          font-size: 1.5rem;
          font-weight: 200;
          padding: 0 1.25rem;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    &::before {
      background-position: top -150px left -100px;
    }
  }
}

.main {
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 12rem;
  margin-bottom: 5.5rem;
  position: relative;
  .main__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/ellipse-blue.svg),
      url(../images/ellipse-blur.svg);
    background-position: top 104px left 165px, bottom 10% right 11%;
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      opacity: 0.5;
      background-repeat: no-repeat;
      background-image: url(../images/ellipse-background.svg),
        url(../images/ellipse-background.svg);
      background-size: 30rem;
      background-position: bottom -5% left -5%, top -10% right -5%;
    }
    .main__background-out {
      position: absolute;
      z-index: 2;
      top: -10%;
      right: 10%;
      .main__background-out-ellipse {
        display: block;
      }
    }
  }
  .main__container {
    background: linear-gradient(
      212.69deg,
      rgb(50, 62, 81) 4.9%,
      rgb(29, 37, 50) 55.16%
    );
    border-radius: 1.25rem;
    display: grid;
    place-content: center;
    gap: 4rem;
    .main__container-title {
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: 8.125rem;
      position: relative;
      z-index: 1;
    }
    .main__container-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      margin-bottom: 8.125rem;
      width: 41rem;
      .main__container-list-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        font-size: 1.2rem;
        font-weight: 300;
        color: rgb(255, 255, 255);
        width: 18.75rem;
        height: 19.375rem;
        padding: 1.187rem;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: rgba(51, 62, 82);
        box-shadow: 0 5px 0px rgba(31, 38, 50, 0.2);
        z-index: 5;
        &::before {
          content: '';
          position: absolute;
          width: 87%;
          height: 87%;
          background-color: inherit;
          bottom: -1.25rem;
          border-radius: 20px;
          z-index: 0;
        }
        &::after {
          content: '';
          position: absolute;
          width: inherit;
          height: inherit;
          background-color: rgba(51, 62, 82, 0.2);
          box-shadow: 0 5px 0px rgba(31, 38, 50, 0.2);
          border-radius: 20px;
          z-index: 1;
        }
        .main__content-list-card-img {
          position: relative;
          z-index: 2;
        }
        .main__content-list-card-text {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 0;
    .main__background {
      background-position: top 103px left 20px, bottom 15px right 10px;
      .main__background-out {
        top: -50px;
        right: -30px;
      }
      .main__background-out-ellipse {
        width: 5.4rem;
      }
    }
    .main__container {
      gap: 1.875rem;
      padding: 0 1.875rem;
      .main__container-title {
        font-size: 1.7rem;
        font-weight: 300;
        margin-top: 2.5rem;
      }
      .main__container-list {
        width: auto;
        margin-bottom: 6.375rem;
        .main__container-list-card {
          width: 16.25rem;
          height: 17.0625rem;
          .main__content-list-card-img {
            width: 6rem;
          }
          .main__content-list-card-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 627px) {
    .main__background {
      background-size: 1.375rem, 3.875rem;
      background-position: top 103px left 20px, bottom 15px right 10px;
      &::before {
        background-size: 0, 0;
      }
    }
    .main__container-list-card:last-child {
      order: 1;
    }
    .main__container-list-card:nth-child(3) {
      order: 2;
    }
    .main__container-list-card:nth-child(2) {
      order: 3;
    }
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(48, 9, 97, 0.3);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  z-index: 5;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  .modal__window {
    position: relative;
    background: url(../images/ellipse-modal.svg) no-repeat right top,
      radial-gradient(
        42.84% 203.07% at 15.58% -40.39%,
        rgb(50, 62, 81) 0%,
        rgb(29, 37, 50) 100%
      );
    border-radius: 1.875rem;
    width: 41.875rem;
    box-sizing: border-box;
    .modal__window__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5625rem;
      margin: 3.5rem 8rem 5.625rem 4.375rem;
      .modal__window__container-title {
        font-size: 2.8rem;
      }
      .modal__window__container-text {
        font-size: 1.5rem;
        font-weight: 200;
      }
      .modal__window__container-form {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        margin-top: 0.625rem;
        width: 100%;
        .modal__window__container-form-input {
          font-size: 1.3rem;
          padding: 0.9375rem 1.25rem;
          border-radius: 10px;
        }
        .modal__window__container-form-submit {
          border: none;
          padding: 0.9375rem 1.25rem;
          border-radius: 10px;
          @include button-green();
        }
      }
      .modal__window__container-close-btn {
        position: absolute;
        top: 10%;
        right: 7%;
        @include opacity-hover();
      }
    }
  }
  @media screen and (max-width: 700px) {
    .modal__window {
      border-radius: 1.25rem;
      width: auto;
      .modal__window__container {
        margin: 2.625rem 1rem;
        .modal__window__container-title {
          font-size: 1.45rem;
        }
        .modal__window__container-text {
          font-size: 1rem;
        }
        .modal__window__container-form {
          gap: 1rem;
          .modal__window__container-form-input {
            font-size: 1rem;
            padding: 0.9375rem 1.25rem;
            border-radius: 10px;
          }
          .modal__window__container-form-submit {
            font-size: 1rem;
          }
        }
        .modal__window__container-close-btn {
          top: 7%;
          right: 5%;
          .modal__window__container-close-btn-img {
            width: 1rem;
          }
        }
      }
    }
  }
}

.modal--show {
  visibility: visible;
  opacity: 1;
}

.modalMenu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(48, 9, 97, 0.3);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  z-index: 3;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  .modalMenu__header {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    background: rgb(41, 51, 68);
    border-radius: 0px 0px 0px 30px;
    padding: 1.875rem 2rem 3.75rem 2rem;
    margin-left: 1rem;
    .modalMenu__header-logo {
      display: flex;
      justify-content: space-between;
      .modalMenu__header-logo-container {
        display: flex;
        align-items: center;
        gap: 0.8375rem;
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        .modalMenu__logo-img {
          width: 2rem;
        }
      }
      .modalMenu__logo-btn {
        @include opacity-hover();
      }
    }

    .modalMenu__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5.625rem;
      .modalMenu__menu-list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        .modalMenu__menu-list-item {
          font-size: 1.4375rem;
          font-weight: 200;
          color: rgb(255, 255, 255);
          cursor: pointer;
          @include opacity-hover();
        }
      }
      .modalMenu__menu-button {
        @include button-login();
      }
    }
  }
}

.modalMenu--show {
  visibility: visible;
  opacity: 1;
}
