-var menuValues = ['Главная', 'Что даст обучение'];

header.header
  div.header__container
    nav.header__nav 
      div.header__logo
        div.header__logo-container
          img.header__logo-img(src='images/ellipse-logo.svg' alt='logo')
          p NFT
        button.header__logo-btn(type='button')
          img(src='images/menu-icon.svg')
      div.header__menu
        ul.header__menu-list
          each value in menuValues
            li.header__menu-list-item #{value}
        button.header__menu-button(type='button') Личный кабинет
    div.header__banner
      h1.header__banner-title 
        | Не упусти возможность
        | войти </br>в 
        span.header__banner-title-bold прибыльную нишу
      div.header__banner-container
        P.header__banner-text Получи все нужные навыки для заработка </br>на NFT всего за 28 дней!
        button.header__banner-button(type='button') Начать зарабатывать на NFT
      div.header__banner-img
        img(src='images/man.png')



