div.modal
  div.modal__window
    div.modal__window__container
      h2.modal__window__container-title Начни прямо сейчас!
      p.modal__window__container-text. 
        Получи все нужные навыки для заработка</br> на NFT всего за 28 дней!
      form.modal__window__container-form
        input.modal__window__container-form-input(type='email' placeholder='Ваш email' required)
        input.modal__window__container-form-submit(type='submit' value='Оплатить')
      button.modal__window__container-close-btn(type='button')
        img.modal__window__container-close-btn-img(src='./images/close.svg')
div.modalMenu 
  header.modalMenu__header
    div.modalMenu__header-logo
      div.modalMenu__header-logo-container
        img.modalMenu__logo-img(src='images/ellipse-logo.svg' alt='logo')
        p NFT
      button.modalMenu__logo-btn(type='button')
        img(src='images/close.svg')
    div.modalMenu__menu
        ul.modalMenu__menu-list
          each value in menuValues
            li.modalMenu__menu-list-item #{value}
        button.modalMenu__menu-button(type='button') Личный кабинет